/* application.css */

.vga__application {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.content-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.content-box,
.generated-video-box {
    flex: 1 1 45%;
    border: 1.12px solid #ccc;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}



.images-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 300px;
    /* Adjust the height as needed */
    overflow-y: auto;
    /* Add vertical scrollbar */
}

.audio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center items vertically */
    align-items: center;
    /* Center items horizontally */
    gap: 8px;
    max-height: 300px;
    /* Adjust the height as needed */
    overflow-y: auto;
    /* Add vertical scrollbar */
}


.selected-image {
    border: 2px solid blue;
    size: 1px;
}

.audio-item.selected-audio {
    border: 2px solid blue;
    /* Change the border color and width as desired */
}


.images-grid img {
    width: calc(25% - 10px);
    /* Four images per row with a 10px gap */
    height: auto;
}

.images-grid,
.audio-list {
    /* Your existing styles */
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 300px;
    /* Adjust the height as needed */
    overflow-y: auto;
    /* Add vertical scrollbar */
}

.images-grid::-webkit-scrollbar,
.audio-list::-webkit-scrollbar {
    width: 12px;
    /* Set the width of the scrollbar */
}

.images-grid::-webkit-scrollbar-thumb,
.audio-list::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the scrollbar thumb */
    border-radius: 6px;
    /* Set the border radius of the scrollbar thumb */
}

.images-grid::-webkit-scrollbar-track,
.audio-list::-webkit-scrollbar-track {
    background-color: transparent;
    /* Set the background color of the scrollbar track to transparent */
}


.option-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    gap: 10px;

}

.option-buttons button {
    flex: 1;
    font-family: var(--font-family);
    margin: 0 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #202020;
    color: white;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;

}



.option-buttons button:hover {
    background-color: #707070;
}

.option-buttons button:active {
    background-color: gray;
}

.option-content {
    text-align: center;
    width: 100%;
}

.content-section {
    margin-top: 20px;

}

.content-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.content-body {
    margin-bottom: 10px;
}

.content-body input[type="file"] {
    display: block;
    margin: 0 auto;
}

.content-body textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #cccccc52;
    border-radius: 10%;
}

.content-button {
    background: #0d0e0e;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

.content-button:hover {
    background-color: #656666;
}

.generate-button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.generate-button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

.generate-button:hover {
    background-color: #4b4c4d;
}

.generated-video-box .video-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;

}

.generated-video-box .video-content {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.video-placeholder {
    text-align: center;
    color: #777;
}

/* Loader */
.loader {
    display: inline-block;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}


/* Styling for select elements */
select {
    width: 50%;
    padding: 6px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  /* Styling for options within select */
  select option {
    font-size: 11px;
    background-color: white;
    padding: 4px;
  }
  
  /* Hover effect for options */
  select option:hover {
    background-color: #e0e0e0;
  }


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {

    .content-box,
    .generated-video-box,
    .generated-video-box {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    .option-buttons button {
        font-size: 12px;
        padding: 5px 11px;
    }

    .generate-button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .generated-video-box .content-box {
        display: flex;
    }

    .generated-video-box .video-content {
        height: 200px;
    }
}